body{
  background-color: #151429;
  color: white;
}

button{
  background-color: #151429;
  border: 1px solid #067d80;
  border-radius: 6px;
  color: #067d80;
  font-weight: bold;
  margin: 10px;
  padding: 2px;
}

button:hover{
  cursor: pointer;
  background-color: #067d80;
  color: #151429;
}

footer{
  text-align: end;
  font-size: 10px;
  padding: 20px;
}

a{
  color: white;
}

a:hover{
  color: #067d80;
}